

  body {
    margin: 0%;
    background-color:gainsboro;
    font: black;
  }

.navbar {
  overflow: hidden;
  background-color: #d87991;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: avant garde, helvetica;
  font-size: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(228, 192, 220);
  color: blue;
  font-weight: bold;
}

.navbar a.active {
  background-color: #d87991;
}

#typing_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;
}

.video_text {
  background: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 23%;
}

*{
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 3%;
  height: 400px;
  background-color:#d87991;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 1.9%;
  height: 400px;
  background-color: white;
}

.column3 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 3.5%;
  height: 450px;
  background-color:#d87991;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-transform: uppercase;
  font-family: "trebuchet ms", optima;
  text-align: center;
  margin-top: 3%;
  color: red;

}

p {
  font-family: perpetua, rockwell extra bold;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  padding-right: 20px;
}

center {
  font-family: perpetua, rockwell extra bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

a {
  color: rgba(0, 0, 255, 0.082);
}

img { 
  filter: none;
  border-radius: 8px;
  max-width: 100%;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input [type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: perpetua, rockwell extra bold;
}

input[type=sumbit] {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: perpetua, rockwell extra bold;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transform: scale(1.5);

}

form {
  border-radius: 5px;
  background-color: #d8799191;
  padding: 20px;
  font-family: "trebuchet ms", optima;
}

center:hover {
  transition: transform 2s;
  transform: scale(1.1);
}

p:hover {
  color: #d87991;
  transition: transform 1s;
  transform: scale(1.01);
}

h1:hover {
  color: black;
  font-weight: normal;
}

img:hover {
  filter: grayscale(5%);
  transition: transform 1s;
  transform: scale(1.1);
}

footer {
  padding: 2%;
  background-color: white;
}

body {
  opacity: 1;
  transition: 1s opacity;
}
body.fade-out {
  opacity: 0;
  transition: none;
}